In [3]:
#Importando Libreras
import pandas as pd
import networkx as nx

In [4]:
# Leer información de Nodos 
nodos = pd.read_excel('Datos/Nodos.xlsx', sheet_name='Hoja1')
nodos.head(2)

,Id,Headquarters Location,Operating Status,Company Type,Number of Investments,Number of Lead Investments,Number of Diversity Investments,Number of Exits,Number of Lead Investors,Number of Investors,...,Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Events,SEMrush - Monthly Visits,SEMrush - Average Visits (6 months),SEMrush - Visit Duration,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD)
0,Tencent,"Shenzhen, Guangdong, China",Active,For Profit,693.0,375.0,15.0,125.0,1.0,4.0,...,1.257677e+10,USD,1.257677e+10,22.0,"4,085,844","3,553,184",600.0,NaN,NaN,NaN
1,Warburg Pincus,"New York, New York, United States",Active,NaN,433.0,286.0,22.0,131.0,NaN,NaN,...,3.802820e+07,USD,3.802820e+07,NaN,34.635,"34,033.67",392.0,53801.0,USD,53801.0

In [5]:
# Lerr información de Arcos 
arcos =pd.read_excel('Datos/Arcos.xlsx', sheet_name='Arcos')
arcos.head()

          Source     Target
0    01 Advisors   Electric
1    01 Advisors     Origin
2  17Capital LLP  NewSpring
3            1kx    Arweave
4            1kx    Rarible

In [28]:
lista_arcos = list(zip(arcos['Source'], arcos['Target']))
lista_arcos[0]

lista_nodos = nodos['Id'].to_list()
print(lista_arcos[0])
print(lista_nodos[0])

('01 Advisors', 'Electric')
Tencent

In [31]:
H = nx.DiGraph()
H.add_nodes_from(lista_nodos)
H.add_edges_from(lista_arcos)
print(f'Nodos: {H.number_of_nodes()}')
print(f'Arcos: {H.number_of_edges()}')

Nodos: 2218
Arcos: 4187